Взять датасет из google диска: https://drive.google.com/file/d/1MpWBFIbqu4mbiD0BBKYX6YhS-f4mN3Z_. Проверить гипотезу о том, в каком варианте теста (control/personalization) больше конверсия (converted) и значимо ли это отличие статистически.

In [19]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('marketing_campaign.csv')
df.head(3)

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True

In [8]:
df['variant'].value_counts()

control            5091
personalization    4946
Name: variant, dtype: int64

In [9]:
df['converted'].value_counts()

False    8946
True     1076
Name: converted, dtype: int64

Н0: р1 = р2 (конверсия одинаковая)

Н1: р1 != р2 (конверсия отличается)

In [12]:
z_crit_value = 1.96 # соответствует доверительному интервалу в 95%
k1 = df[df['variant']=='control']['converted'].sum()
n1 = df[df['variant']=='control'].shape[0]
k2 = df[df['variant']=='personalization']['converted'].sum()
n2 = df[df['variant']=='personalization'].shape[0]

k1, n1, k2, n2

(371, 5091, 705, 4946)

In [14]:
grouped = df.pivot_table(values='converted', index='variant', aggfunc=['sum', 'count'])
grouped

                      sum     count
                converted converted
variant
control               371      5076
personalization       705      4946

In [20]:
from statsmodels.stats import proportion

z_score, z_pvalue = proportion.proportions_ztest(np.array([k1, k2]), 
                                                 np.array([n1, n2]))

print(f'Results are z_score={z_score:.3f} pvalue={z_pvalue:.3f}')

Results are z_score=-11.279 pvalue=0.000

In [26]:
chisq, pvalue, table = proportion.proportions_chisquare(np.array([k1, k2]), 
                                                        np.array([n1, n2]))

print(f'Results are chisq={chisq:.3f} pvalue={pvalue:.3f}')

Results are chisq=127.213 pvalue=0.000

т.к. значение pvalue ниже 0.05 то гипотеза Н0 отвергается.

в personalization конверсия больше